.ProjectCard {
  padding: 20px;
  border-radius: 8px;
  border-left: 5px solid var(--accent-cyan);
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s, border-color 0.3s;
  display: flex;
  flex-direction: column;
  min-height: 180px;
  position: relative;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(65, 105, 225, 0.3);
    border-left-color: var(--accent-green);
  }

  h3 {
    margin-bottom: 10px;
    font-size: 1.5rem;
    padding: 0 27px;
  }

  p {
    flex-grow: 1;
    margin-top: 10px;
    font-size: 0.95rem;
    color: #696969;
    line-height: 1.4;
    text-align: left;
  }
}