* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

:root {
    --bg-primary: #121218;
    --bg-secondary: #1F2430;
    --text-primary: #F0F0F0;
    --accent-cyan: #00CED1;
    --accent-green: #00D084;
    --accent-red: #FF4136;
    --accent-yellow: #FFC107;
    --border-color: #3A98B8;
}

body {
    background-color: #efefef;;
}