.PriorityLabel_LOW,
.PriorityLabel_MEDIUM,
.PriorityLabel_HIGH {
  display: inline-block;
  padding: 3px 10px;
  border-radius: 12px;
  font-size: 0.75rem;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--bg-secondary);
  margin-top: 5px;
}

.PriorityLabel_HIGH {
  background-color: var(--accent-red);
}

.PriorityLabel_MEDIUM {
  background-color: var(--accent-yellow);
}

.PriorityLabel_LOW {
  background-color: var(--accent-green);
}