.TaskStatus {
  display: inline-block;
  padding: 2px 8px;
  border-radius: 12px;
  font-size: 0.7rem;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--bg-secondary);
  margin-right: 8px;
  margin-top: 5px;
  width: fit-content;

  &--TODO {
    background-color: var(--accent-cyan);
  }

  &--IN_PROGRESS {
    background-color: #FFA500;
  }

  &--DONE {
    background-color: var(--accent-green);
  }
}